/* https://www.palettedecouleur.net/?source=codeur-com-blog&utm_source=codeur-com-blog */

body {
  font-family: "Manrope", sans-serif;

  margin: 0; /* Ajustez la marge selon vos besoins */
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto; /* En-tête, contenu principal, pied de page */
  min-height: 100vh;
}

header {
  background-color: #dcded6;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr auto; /* Morpion et historique à gauche, texte à droite */
  gap: 20px;
  padding: 20px;
}

#root {
  /* Votre implémentation du morpion et de l'historique reste ici */

  * {
    box-sizing: border-box;
    background-color: #ced0c3;
  }

  body {
    font-family: "Manrope", sans-serif;
    margin: 20px;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  code {
    font-size: 1.2em;
  }

  ul {
    padding-inline-start: 20px;
  }

  li {
    list-style-type: none;
  }

  .square {
    background: #b4bab1;
    border: 1px solid #859393;
    float: left;
    font-size: 96px; /* Double de la taille précédente */
    font-weight: bold;
    line-height: 136px; /* Double de la taille précédente + la marge du haut */
    height: 136px; /* Double de la taille précédente + la marge du haut */
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 136px; /* Double de la taille précédente + la marge de droite */
  }

  .square.winner {
    color: red;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 10px;
  }

  .game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .game-info {
    margin-left: 20px;
  }
}

#texte-droite {
  /* Ajustez la largeur et le style selon vos besoins */
  width: 200px;
}

footer {
  background-color: #5d726f;
  color: #fff;
  padding: 10px;
  text-align: center;
}
