* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 1em;
}

html {
  background-color: #000;
}

body {
  /* overflow-y: hidden; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

li:nth-child(odd) {
  background: #b4bab1;
}

li button {
  text-align: center;
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

header {
  background-color: #dcded6;
  text-align: center;
  height: 3em;
}

footer {
  height: 3em;
  background-color: #5d726f;
  text-align: center;
}

#root {
  background-color: #ced0c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;

  code {
    font-size: 1.2em;
  }

  .square {
    background: #b4bab1;
    border: 0.0625vw solid #859393;
    float: left;
    font-size: 3vw;
    font-weight: bold;
    line-height: 0;
    height: 8vw;
    width: 8vw;
    margin-right: -0.0625vw;
    margin-top: -0.0625vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .board {
    width: 20em;
    height: 20em;
  }
  .square.winner {
    color: green;
  }

  /* .board-row {
    width: 6em; 
    height: 2em;
  } */
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .game {
    display: flex;
    flex-direction: row;
    align-items: start;
    /* justify-content: center; */
  }

  .game-info {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    /* min-width: 15em; */
    width: 15vw;
  }

  .game-board {
  }

  .texte-droite {
    width: 20em;
    margin: 1em;
  }
}
